:root {
    .profile-details {
        max-height: 20vh;
        background-color: rgb(224, 245, 255);
    }
    .avatar {
        max-width: 50px;
        max-height: 50px;
    }
    .info {
        font-size: 10px;
    }
}