:root {
    .quickLinks {
        max-width: 50px;
        background-color: rgb(224, 245, 255);
    }
    i {
        max-width: 35px;
        max-height: 35px;
        &:hover {
            transform: scale(1.1);
        }
    }
}