.element {
    &:hover {
        background-color: lightblue;
    }
}
.avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}
.name {
    font-size: 12px;
}
.message {
    font-size: 12px;
}
.date {
    font-size: 10px;
}
