.chat-area{
    display:flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 60%;
    height: 100%;
    background-color: rgb(224, 245, 255);
    border: 1px solid black;
}

.chat-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.profile-details{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.settings{
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}

.name {
    padding-top: 6px;
}

.chat-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    min-height: 30px;
}

.message-input{
    width: 90%;
}

.messages{
    height: 522px;
}