:root {
    .chat-area {
        background-color: rgb(224, 245, 255);
    }
    .avatar {
        max-width: 45px;
        max-height: 45px;
    }
    .settings {
        max-width: 30px;
        max-height: 30px;
    }
    .messagearea {
        min-height: 500px;
    }
}