:root {
    .chat-area {
        background-color: rgb(224, 245, 255);
    }
    .avatar {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
    }
    .settings {
        max-width: 1.88rem;
        max-height: 1.88rem;
    }
    .return-button {
        display: none;
    }
    @media only screen and (max-width: 600px) {
        .chat-area {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
        .return-button {
            display: inherit;
        }
    }
    .messagearea {
        min-height: 500px;
    }
}
